[Unit]
Description=NodeBB forum for Node.js.
Documentation=https://docs.nodebb.org
After=system.slice multi-user.target

[Service]
Type=simple
User=root

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodebb

Environment=NODE_ENV=production
WorkingDirectory=/var/www/nodebb
ExecStart=/var/www/nodebb/nodebb --no-silent --no-daemon
Restart=always

[Install]
WantedBy=multi-user.target
