[Unit]
Description=NodeBB
Documentation=https://docs.nodebb.org
After=system.slice multi-user.target mongod.service

[Service]
Type=forking
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
#PIDFile=/path/to/nodebb/pidfile
Environment="NODE_ENV=production"
Environment="__YNH_NODE_LOAD_PATH__"
#ExecStart= loader.js --no-daemon --no-silent
#ExecStart= start
ExecStart=__YNH_NODE_LOAD_PATH__ loader.js
Restart=always

[Install]
WantedBy=multi-user.target
