[Unit]
Description=NodeBB forum for Node.js.
After=syslog.target
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStartPre=__NODEJS__
Environment="PATH=__ENV_PATH__"
ExecStart=__NODE__ app.js start
Restart=always

[Install]
WantedBy=multi-user.target
